/*    reset  css */
*,
::before,
::after{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font:16px/1.4 Helvetica,STHeiti,'Microsoft YaHei',Arial,sans-serif
}
a{ 
    color: #787878;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
input{
    border: none;
    outline: none;
    -webkit-appearance: none;
}
